@import url('https://fonts.google.com/specimen/Roboto?subset=cyrillic-ext&noto.lang=bg_Cyrl&noto.script=Cyrl');

:root {
    --header-height: 60px;
    --grid-gap: 1px;
    --bg-color: #f4f4f4;
    --ft-color: #373737;
    --el-height: calc(100vh - var(--header-height) - (var(--grid-gap)));
}

/*Темный режим на уровне операционной системы / браузера*/
/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --bg-color: #2d2e2a;*/
/*        --ft-color: lightgray;*/
/*    }*/
/*}*/

body {
    display: grid;
    grid-template-areas:
    "header header "
    "main main"
    "flex flex"
    "grid grid";
    grid-template-rows: 7vh 1fr;
    grid-template-columns: 30% 1fr;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: none;
    color: var(--ft-color);
    background: var(--bg-color);
}

body.dark-theme {
    --bg-color: #2d2e2a;
    --ft-color: lightgray;
}

header, nav, .information {
    padding: 1vh;
}

header {
    grid-area: header;
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.container_btn {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;

}

.switch-btn {
    justify-content: flex-end;
    margin: 0 5px;
    height: 17px;
    transform: rotate(90deg);
}


.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 30% 1fr;
    height: var(--el-height);
}

.container-flex {
    grid-area: flex;
    display: flex;
    justify-content: center;
    padding: 0.5vh 0;
    flex-wrap: wrap;
}

.container-grid {
    grid-area: grid;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 1vh 0;
}

.link {
    text-align: center;
    margin: 0 1vw;
    padding: 0;
    width: 250px;
}

.sl-link {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 400px;
}

.header-link {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    color: var(--ft-color);;
}

.header-link:visited {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    color: var(--ft-color);;
}

.header-link:hover {
    border: 1px rgb(41, 120, 230) solid;
    border-radius: 5px;
    cursor: pointer;
}

.photo, .cover {
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img, .cover img {
    max-width: 100%;
    object-fit: contain;
}

.fio {
    text-align: center;
}

.info {
    display: flex;
    flex-wrap: nowrap;
}

.personalInfo, .feedback {
    padding: 1vh;
    margin: 1vh;
}